In [1]:
! pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/25/fd/0561e2dd29aeed544bad2d1991636e38700cdaef9530490b863741f35295/apyori-1.1.1.tar.gz
Building wheels for collected packages: apyori
  Running setup.py bdist_wheel for apyori: started
  Running setup.py bdist_wheel for apyori: finished with status 'done'
  Stored in directory: C:\Users\Administrator.HRR13O9FQFSDLIT\AppData\Local\pip\Cache\wheels\7b\2a\35\c0c3749c1a36d4f454ea22d8396e1b854b86340d63cbbb7949
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.1

In [2]:
import pandas
movie = pandas.read_csv('Data/movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movie_dic = {}
for rec in movie.iterrows():
    movie_dic[rec[1].movieId] = rec[1].title

In [4]:
movie_dic.get(1)

'Toy Story (1995)'

In [6]:
import pandas
import datetime
df = pandas.read_csv('Data/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
df = df[df['timestamp'] >= 1325376000]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20877 entries, 790 to 99258
Data columns (total 4 columns):
userId       20877 non-null int64
movieId      20877 non-null int64
rating       20877 non-null float64
timestamp    20877 non-null int64
dtypes: float64(1), int64(3)
memory usage: 815.5 KB

In [12]:
# df.head()
df.groupby('userId')['movieId'].apply(list)

userId
11     [50, 70, 126, 169, 296, 778, 785, 923, 1027, 1...
13     [1, 47, 110, 277, 296, 318, 356, 362, 480, 524...
15     [216, 367, 371, 372, 429, 520, 556, 913, 1047,...
26     [1, 32, 47, 50, 63, 69, 153, 165, 260, 296, 31...
38     [16, 47, 110, 293, 296, 306, 318, 356, 364, 36...
40     [50, 260, 1136, 1196, 1197, 1198, 2959, 4226, ...
42     [110, 165, 260, 296, 318, 349, 356, 380, 457, ...
46     [73, 355, 724, 1270, 1359, 1515, 1707, 1965, 2...
48     [111, 296, 501, 562, 741, 784, 858, 924, 1240,...
54     [318, 1027, 1088, 1201, 1203, 1333, 1680, 2150...
56     [1, 10, 16, 21, 29, 39, 47, 50, 101, 104, 111,...
62     [111, 260, 318, 1196, 1210, 1270, 2028, 2918, ...
68                                         [8636, 31658]
69     [1, 2, 5, 19, 34, 39, 48, 104, 158, 231, 262, ...
72     [1, 2, 47, 50, 110, 150, 260, 296, 318, 356, 4...
73     [6, 25, 32, 36, 60, 98, 112, 177, 198, 215, 22...
78     [16, 34, 47, 150, 193, 345, 508, 540, 788, 858...
84     [1, 110, 260, 296, 356, 589, 1036, 1196, 1198,...
91     [1, 12, 19, 23, 34, 104, 110, 216, 231, 260, 2...
97     [1, 32, 50, 110, 223, 293, 296, 318, 356, 364,...
98     [5, 39, 296, 339, 356, 357, 597, 724, 902, 920...
104    [110, 150, 260, 293, 296, 318, 589, 733, 1036,...
107    [293, 296, 527, 2605, 2701, 2805, 2959, 3005, ...
133    [47, 110, 111, 215, 247, 296, 318, 356, 551, 5...
134    [1, 2, 5, 10, 16, 19, 29, 32, 36, 39, 47, 110,...
136    [1, 104, 260, 318, 364, 500, 586, 588, 595, 78...
138    [1, 50, 260, 296, 318, 356, 480, 527, 780, 858...
140    [5, 60, 216, 256, 267, 318, 342, 356, 364, 552...
147    [50, 111, 207, 296, 381, 527, 608, 778, 934, 1...
149    [1, 39, 47, 50, 104, 231, 253, 260, 293, 296, ...
                             ...
566    [318, 1792, 2296, 3177, 4255, 6156, 6541, 6754...
567    [50, 260, 318, 356, 589, 593, 750, 858, 924, 1...
570    [1, 36, 104, 110, 150, 165, 260, 296, 356, 457...
571    [18, 32, 88, 150, 413, 546, 1208, 1347, 1517, ...
572    [50, 145, 163, 296, 318, 337, 356, 381, 527, 5...
578    [17, 50, 318, 356, 381, 527, 593, 858, 1028, 1...
579    [65, 88, 1013, 1687, 1892, 2082, 2139, 2141, 2...
583    [296, 318, 858, 1198, 1213, 1221, 1704, 2329, ...
599    [39, 150, 260, 356, 551, 745, 923, 1028, 1136,...
600    [588, 2081, 2085, 2096, 4886, 4995, 5618, 6377...
606    [175, 235, 296, 441, 593, 661, 778, 858, 904, ...
610    [538, 1556, 1590, 1653, 1894, 2717, 2761, 2881...
611    [260, 356, 588, 1721, 1722, 1882, 2167, 2294, ...
612    [223, 349, 362, 364, 551, 673, 1097, 1136, 119...
615    [1, 6, 32, 47, 60, 260, 293, 296, 344, 356, 36...
620    [50, 260, 296, 901, 902, 912, 914, 915, 916, 9...
622    [260, 318, 593, 1196, 1198, 1234, 1291, 1704, ...
624    [923, 1884, 3284, 4262, 6760, 6936, 7258, 7373...
625    [337, 509, 527, 1197, 1544, 1682, 1721, 1873, ...
628    [16, 29, 32, 58, 110, 236, 293, 342, 356, 555,...
630    [1, 356, 593, 858, 904, 908, 912, 916, 1207, 1...
635    [50, 111, 296, 318, 527, 593, 608, 903, 1089, ...
637            [32, 50, 318, 750, 858, 1203, 1221, 3421]
643    [50, 204, 260, 318, 858, 1196, 1221, 1385, 168...
648    [3267, 6711, 63808, 71156, 77810, 87485, 92004...
652    [22, 71, 94, 125, 140, 179, 185, 194, 223, 293...
655    [2, 18, 32, 50, 163, 253, 260, 296, 316, 353, ...
660    [1, 32, 260, 356, 480, 593, 1196, 1198, 1210, ...
663    [1, 356, 480, 593, 1270, 2571, 111781, 117529,...
664    [1, 6, 16, 22, 29, 32, 47, 50, 70, 110, 111, 1...
Name: movieId, Length: 155, dtype: object

In [13]:
from apyori import apriori
transactions = [ele for ele in df.groupby('userId')['movieId'].apply(list)]
rules = apriori(transactions,min_support = 0.2,min_lift = 3,min_length = 2)
results = list(rules)

In [21]:
for rec in results:
    left_hands = rec.ordered_statistics[0].items_base
    right_hands = rec.ordered_statistics[0].items_add
    l = ';'.join([movie_dic.get(item) for item in left_hands])
    r = ';'.join([movie_dic.get(item) for item in right_hands])
    print('{}=>{}'.format(l,r))
#     print(rec.ordered_statistics[0].items_base,rec.ordered_statistics[0].items_add)
#     print([movie_dic.get(item) for item in rec.items])

Kill Bill: Vol. 1 (2003)=>Kill Bill: Vol. 2 (2004)
Star Wars: Episode V - The Empire Strikes Back (1980);Matrix, The (1999);Star Wars: Episode IV - A New Hope (1977);Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)=>Star Wars: Episode VI - Return of the Jedi (1983)
Lord of the Rings: The Two Towers, The (2002);Star Wars: Episode V - The Empire Strikes Back (1980);Matrix, The (1999);Star Wars: Episode IV - A New Hope (1977)=>Star Wars: Episode VI - Return of the Jedi (1983)