In [6]:
import sqlite3 as lite
con = lite.connect('SQLite/test.sqlite')
cur = con.cursor()
cur.execute('SELECT SQLITE_VERSION()')
data = cur.fetchone()
print(data)
con.close()

('3.21.0',)

In [5]:
#with在执行完成后自动关闭
with lite.connect('SQLite/test.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print(data)

('3.21.0',)

In [8]:
import sqlite3 as lite
with lite.connect('SQLite/test.sqlite') as con:
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS PhoneAddress")
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY,address TEXT,name TEXT unique,age INT NOT NULL)")
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhone Doe','53')")
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat','6')")
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard','29')")
#     cur.execute("SELECT phone,address From PhoneAddress")
#     data = cur.fetchall()
#     for rec in data:
#         print(rec[0],rec[1])

0912173381 United State
0928375018 Tokyo Japan
0957209108 Taipei

In [9]:
import sqlite3 as lite
import pandas
employee = [{'name':'Mary','age':23,'gender':'F'},{'name':'John','age':33,'gender':'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [11]:
with lite.connect('SQLite/test.sqlite') as db:
    df.to_sql(name = 'employee',con = db,if_exists='replace',index = None)